<div class="container">
  <nav class="panel">
    <p class="panel-heading">
      Login
    </p>
    <div class="panel-block">
      <div class="field">
        <label class="label">Usuário</label>
        <p class="control">
          <input class="input" type="text" placeholder="Insira o usuário.">
        </p>
        <label class="label">Senha</label>
        <p class="control">
          <input class="input" type="password" placeholder="Insira a senha.">
        </p>
        <a class="button is-primary">Acessar</a>
      </div>
    </div>
  </nav>
</div>