<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
        <a class="nav-item pacifico medium-text">Mapa de Perfil</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab">
        <figure class="is-16x16" style="margin-right: 8px;">
            <i class="fa fa-user" aria-hidden="true"></i>
        </figure>
        Perfil
      </a>
      <a class="nav-item is-tab">Sair</a>
    </div>
  </div>
</nav>