<div class="container">
  <nav class="panel">
    <p class="panel-heading">
      Entrar
    </p>
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="panel-block">
        <div class="field">
          <label for="email" class="label">E-mail</label>
          <p class="control">
            <input id="email" name="email" class="input" type="text" placeholder="Insira o e-mail." ngModel>
          </p>
          <label for="password" class="label">Senha</label>
          <p class="control">
            <input id="password" name="password" class="input" type="password" placeholder="Insira a senha." ngModel>
          </p>
          <button class="button is-primary" type="submit">Acessar</button>
        </div>
      </div>
    </form>
  </nav>
</div>